body {
  padding: 50px;
  position: relative;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
  margin-bottom: 20px;
}

.option {
	display: block;
	background-color: #ddd;
	border-radius: 4px;
	padding: 10px;
}
.option:hover{
	background-color: #eee;
}

.question, .title {
	text-align: center
}
.btn{
	display:block;
	padding: 5px;
	background-color: #0074D9;
	color: #ddd;
	border-radius: 4px;
}
.btn:hover{
	padding: 6px;
}
.next.btn {
	float: right;
}
.newq.btn {
	float:left;
}
.btn:hover{
	padding: 6px;	
}
.input-field {
	display:block;
	padding: 8px;
	box-shadow: 3px;
	float: center;
}
.container {
	display: inline-block;
    text-align: center;
}